/* You can add global styles to this file, and also import other style files */
.bo::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.bo::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.bo::-webkit-scrollbar-thumb {
  background-color: lightslategrey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}
.rad{
  border-radius:20px;
}

