<mat-tab-group class="bo" mat-stretch-tabs dynamicHeight>
  <mat-tab label="participants">
    <ul class="flex_arr0"  *ngFor="let user of ListUsers">
      <div class="border_group">
        <li>
          {{user.login}}
          <i *ngIf="user.is_on_line==1" class="glyphicon glyphicon-unchecked online"></i>
          <button title="Retirer du groupe" *ngIf="(curr_user == user_init || user.id == curr_user) && user_init != user.id" class="btn btn-danger rad" (click)="retirer_part_group(user.id,user.group_group_id_id)"><i class="glyphicon glyphicon-minus-sign"></i></button>
          <button title="Mettre gérant du groupe" *ngIf="curr_user == user_init && user_init != user.id" class="btn btn-primary" (click)="elir_admin(user.id,user.group_group_id_id,curr_user,user_init,group_name,user.login)"><i class="glyphicon glyphicon-king"></i></button>
          <i *ngIf="user_init ==  user.id" class="glyphicon glyphicon-king"></i>
        </li>
    </div>
    <br>
    </ul>

  </mat-tab>
</mat-tab-group>
