<mat-table class="lessons-table mat-elevation-z8" (window:resize)="onResize($event)" [dataSource]='dataSource' matSort matSortActive="id" matSortDirection="asc"
matSortDisableClear>
<ng-container  matColumnDef="descriptif">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> descriptif </mat-header-cell>
    <mat-cell class="copte" *matCellDef="let row"> {{ row.descriptif }}</mat-cell>
</ng-container>
<ng-container matColumnDef="login">
    <mat-header-cell *matHeaderCellDef mat-sort-header> login</mat-header-cell>
    <mat-cell class="card-footer text-muted" *matCellDef="let row"> {{ row.login }}</mat-cell>
</ng-container>
<ng-container matColumnDef="prenom">
    <mat-header-cell *matHeaderCellDef mat-sort-header> prénom</mat-header-cell>
    <mat-cell class="card-footer text-muted" *matCellDef="let row"> {{ row.prenom }}</mat-cell>
</ng-container>
<ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header> nom</mat-header-cell>
    <mat-cell class="card-footer text-muted" *matCellDef="let row">  {{ row.nom }}</mat-cell>
</ng-container>
<ng-container matColumnDef="creation_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Création date</mat-header-cell>
    <mat-cell class="card-footer text-muted" *matCellDef="let row">Créé le  {{ row.creation_date }}</mat-cell>
</ng-container>
<ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef  class="invisible" > </mat-header-cell>
  <mat-cell   *matCellDef="let row">
      <ul class="flex_row">
        <li class="paddr" ><button class="btn btn-primary" (click)="comment_signal_act(row.commentaire_id_id,2)">Ne pas bloquer</button></li>

         <li class="paddr"><button class="btn btn-danger" (click)="comment_signal_act(row.commentaire_id_id,1)">Bloquer</button></li>
      </ul>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="is_lock">
  <mat-header-cell  *matHeaderCellDef mat-sort-header>is Lock</mat-header-cell>
  <mat-cell class="card-footer text-muted" *matCellDef="let row"></mat-cell>
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row [ngClass]="{'border_green' : row.is_lock == 1 || row.is_lock==2,'border_red' : row.is_lock == 0 || row.is_lock == 3}"  *matRowDef="let row; columns: displayedColumns;">
</mat-row>

</mat-table>
<mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"></mat-paginator>


