<div class="row">
    <div class="col-sm-12">
        <div class="mat-elevation-z2">
            <mat-table [dataSource]='dataSource' matSort matSortActive="id" matSortDirection="asc"
                matSortDisableClear width="100%">

                <ng-container matColumnDef="id">
                    <mat-header-cell style="max-width:75px" *matHeaderCellDef mat-sort-header> id </mat-header-cell>
                    <mat-cell style="max-width:75px" *matCellDef="let row"> {{ row.id }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell style="min-width:223px" *matHeaderCellDef mat-sort-header> email </mat-header-cell>
                    <mat-cell style="min-width:223px" *matCellDef="let row"> {{ row.email }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <mat-header-cell style="max-width:115px" *matHeaderCellDef mat-sort-header> nom </mat-header-cell>
                    <mat-cell style="max-width:115px" *matCellDef="let row"> {{ row.nom }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="prenom">
                    <mat-header-cell style="max-width:115px" *matHeaderCellDef mat-sort-header> prenom </mat-header-cell>
                    <mat-cell style="max-width:115px" *matCellDef="let row"> {{ row.prenom }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="is_active">
                    <mat-header-cell style="max-width:25px" *matHeaderCellDef mat-sort-header>actif</mat-header-cell>
                    <mat-cell style="max-width:25px" *matCellDef="let row"> {{ row.is_active }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="is_verified">
                    <mat-header-cell style="max-width:25px" *matHeaderCellDef mat-sort-header>verift</mat-header-cell>
                    <mat-cell style="max-width:25px" *matCellDef="let row"> {{ row.is_verified }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nn">
                    <mat-header-cell style="max-width:115px" *matHeaderCellDef mat-sort-header> National N° </mat-header-cell>
                    <mat-cell style="max-width:115px" *matCellDef="let row"> {{ row.nn }}</mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
                    <td mat-cell *matCellDef="let row"> {{ formatRole(row.role_pers) }}</td>
                </ng-container> -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell style="max-width:45px" *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell style="max-width:45px" *matCellDef="let row">
                      <div class="btn-group">

                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><button class="btn btn-info" [routerLink]='["/validate", row.id]'><i class="glyphicon glyphicon-thumbs-up"></i></button></li>
                          <li><button class="btn btn-primary" [routerLink]='["/edit-user", row.id]'><i class="glyphicon glyphicon-cog"></i></button></li>
                          <li><button class="btn btn-danger" (click)="deleteUser(row.id,row)" ><i class="glyphicon glyphicon-trash"></i></button></li>
                        </ul>
                      </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>

            </mat-table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
        </div>
    </div>
</div>
