<section class="conteneur">
<div class="contenu">
  <p class="tiitle">
    <span class="block">
      <span class="lettreR" >R</span>EFERENDUM
    </span>


    &nbsp;Á&nbsp;


    <span class="block">
      <span class="lettreI">I</span>NITIATIVE
    </span>
    &nbsp;

    <span class="block">
      <span class="lettreC">C</span>ITOYEN
    </span>

    :<br class="brMedia">


    <span class="block">
      V O T R E
    </span>


    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="block">
      V O I X
    </span>


    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="block">
      C O M P T E
    </span>


  </p>

  <img src={{ghibli}} class="imageHome" alt="">
</div>
</section>
