button{
    margin-right: 3%;
}
.border{
    border: solid 2px lightseagreen;
}
.edit{
    cursor: pointer;
    color:lightseagreen;
    padding-right: 5%;
}
.inptbtn{
    display:flex;
}
.italic{
  font-style:italic;
}
.fle{
  display:flex;

}
