  <!-- navbar navbar-inverse navbar-static-top used for static hamburger menu -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid navContFluid">

    <!-- BRAND -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
      <a><span class="spanR">R.</span><span class="spanI">I.</span><span class="spanC">C.</span></a>
    </button>

    </div>

    <!-- COLLAPSIBLE NAVBAR -->
    <div class="collapse navbar-collapse" id="alignment-example">

    <!-- Links -->

    <ul class="nav navbar-nav">
    <li class="space" *ngIf="!checkAuth()">
      <a class="nav-link" routerLink="register">S'inscrire</a>
      </li>
      <li class="space" *ngIf="!checkAuth()">
      <a class="nav-link" routerLink="auth">Login</a></li>
    <li class="space"  *ngIf="checkAuth()" ><a class="nav-link" (click)="logout()">Logout</a></li>
    <li class="space" *ngIf="checkAuth()"><a class="nav-link" routerLink="projets-view" >Projets</a></li>
    <li class="space" *ngIf="checkAuth() && !is_verified()"><a class="nav-link" (click)="userId()"><i class="glyphicon glyphicon-upload"></i></a></li>
    <li class="space" *ngIf="isAdmin()"><a class="nav-link" routerLink="users-view">Users</a></li>
    <li class="space" *ngIf="isAdmin()"><a class="nav-link" routerLink="view-roles">Roles</a></li>
    <li class="space" ><a class="nav-link" routerLink="charte">Charte</a></li>
    </ul>



    </div>

    </div>
    </nav>

    <ul class="list-group">
      <router-outlet></router-outlet>
    </ul>

  <footer>
    <div class="footer">
    <i routerLink="home" class="glyphicon glyphicon-ok"></i>
    <span class="blancko"> Site du referendum à initiative Citoyen. Tout droit résèrvé au peuple</span>
    </div>
  </footer>
