<button class="btn grey" (click)=redirectCreateProjet()> Émettre un Projet </button>
<button class="btn orange" [routerLink]='["/own-projet"]'> <i class="glyphicon glyphicon-user"></i> </button>
<button class="btn jaune" [routerLink]='["/projets-follow"]'><i class="glyphicon glyphicon-search"></i></button>

            <mat-table class="lessons-table mat-elevation-z8" [dataSource]='dataSource' matSort matSortActive="id" matSortDirection="asc"
                matSortDisableClear>
                <ng-container matColumnDef="titre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> titre </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.titre }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="descriptif">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> descriptif </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.descriptif }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nbr_vote_pour">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> vote(s) pour </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="alert-success" role="alert" > {{ row.nbr_vote_pour }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nbr_vote_contre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> vote(s) contre </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="alert-danger" role="alert"> {{ row.nbr_vote_contre }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nbr_vote_null">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> vote(s) null </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="alert-secondary" role="alert"> {{ row.nbr_vote_null }}</mat-cell>
                </ng-container>
                <ng-container  matColumnDef="date_adm">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date d'admission </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.date_adm }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="date_rej">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> date de rejet </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.date_rej }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="creation_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date de création</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.creation_date }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="btn-group">
                            <button class="btn btn-info" [routerLink]='["/detail-proj", row.id]'><i class="glyphicon glyphicon-resize-full"></i></button>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>

            </mat-table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

