mat-header-cell{
  flex: 1;
  display:inline-block;
  background-image: linear-gradient(lightgray,gold) !important;
border-radius:19px;
padding-top:10px;
border:1px solid lightgray !important;
padding-left:20px;
color:black;
border-bottom:1px solid black !important;
box-shadow: 5px 0 5px lightgray, 0 15px 15px -10px black;
opacity: 0.7;
width:7em;
}
mat-header-row{
  padding-top:10px;
  display:inline;
}
#inptbtn1{
display:none;
}
mat-header-row{
  display:inline;
}
.h4,h4{
 font-size:12px;
}

td{
  border:solid lightgray 2px;
  border-bottom:solid lightsalmon 2px;
}
.dropdown-menu {
min-width:auto !important;
}
.mat-column-actions{
overflow: visible !important;
}
td{
  border:solid lightgray 2px;
  border-bottom:solid lightsalmon 2px;
}
.dropdown-menu {
min-width:auto !important;
}
.mat-column-actions{
overflow: visible !important;
}

td{
border:solid lightgray 2px !important;
border-bottom:solid lightsalmon 2px !important;
}
button{
margin-right:2%;
}
.grey{
background-image: linear-gradient(lightgray,white) !important;
border-bottom: 1px dashed  gold !important;
color:black;
font-family: 'Source Serif 4', sans-serif;
}
.orange{
background-image: linear-gradient(lightgray,white) !important;
border-bottom: 1px dashed  gold !important;
color:black;
font-family: 'Source Serif 4', sans-serif;
}
.invisible{
display:none;
}
.jaune{
background-image: linear-gradient(lightgray,white) !important;
border-bottom: 1px dashed  gold !important;
color:black;
font-family: 'Source Serif 4', sans-serif;
}
table{
width:100%;
}

.mat-sort-header-container{
justify-content: center !important;
padding-left: 18px !important; /* Allow for sort icon*/
}
.title{
font-style: italic;
color: #474747;
font-size: 2em;
}
.mat-cell{
text-align: center;
justify-content: center;
}

.left-align-cell.mat-cell{
text-align: left;
justify-content: center;
}

.left-align-header>.mat-sort-header-container{
justify-content: flex-start !important;
padding-left:0px !important;
flex: 1;
display: flex;
align-items: center;
overflow: hidden;
word-wrap: break-word;
min-height: inherit;
flex-direction: column !important;
}

.search{
  width:80% !important;
  display: flex;
  flex-direction: row;
}

.invisible{
  display:none;
}

mat-row, mat-header-row, mat-footer-row {
  display: block !important;
}
 .mat-row{
  display: flex !important;
  // border:solid lightgray 2px !important;
  // border-bottom:solid lightsalmon 2px !important;
border:solid lightgray 2px !important;
    box-shadow: 5px 0 5px lightgray, 0 15px 15px -10px lightsalmon;
    flex-wrap: wrap !important;

 }
 .btn-block {
  display: block;
  width: 100%;
  margin-right: 0%;
  margin-top: 3%;
}
.copte{
  display:flex !important;
  overflow: hidden !important;
  max-width:100%;
  height:100px;
  word-wrap: break-word;
}
.invisible{
  display:none;
}
mat-row, mat-footer-row {
  width: 30%;
  margin:1.5%;
  border-radius: 25px;
}
mat-table{
  display:flex;
  flex-wrap: wrap;
}
mat-header-row {
  min-width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 680px) {
  mat-row, mat-footer-row {
    width: 47%;
  }
}
@media screen and (max-width: 450px) {
  mat-row, mat-footer-row {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  mat-row, mat-footer-row {
    display: flex!important;
  }
}

.mat-row::after {
  content: '';
  width: 100%;
}
.pseudo { /* or `:nth-child(n + 4)` */
  order: 1;
  margin-top: -16%;
  min-width: 142px;
  margin-left: 5%;
}
.goldblack {
  color:gold;
  background-color:black;
}
.goldblack1 {
  color:gold;
  background-color:black;
}
.goldblack1:hover{
  border:2px solid gold;
  background-color:black;
  }
.pseudo1 { /* or `:nth-child(n + 4)` */
  order: 2;
  margin-top: -16%
}
@media screen and (max-width: 210px) {
  .pseudo { /* or `:nth-child(n + 4)` */
    order: 1;
    margin-top: -47%;
  }
}
.border_group {
  border:solid lightgray 2px !important;
  box-shadow: 5px 0 5px lightgray, 0 15px 15px -10px lightsalmon;
  border-radius: 17px;
}

.border_group:hover {
  border:solid lightgray 2px !important;
  box-shadow: 5px 0 5px lightgray, 0 15px 15px -10px lightsalmon;
  border-radius: 17px;
  background-color: gold;
  cursor : pointer;
}
.glyphicon-arrow-down{
  margin-left:47% !important;
}

.scroll1:hover{
  cursor : pointer;
  margin-right:auto !important;
}
.gold {
  background-color: gold;
}
.flex_arr{
  flex: 1;
  display:inline-block;
 ;}
 .flex_arr0{
  flex: 1;
  display:inline-block;
 }

 .group_nom{
display:table-cell !important;
 }
 h1 {
  color:lightsteelblue;
}
div.scroll {
  margin:4px, 4px;
  padding:4px;
  background-color: lightsteelblue;
  width: 85vw;;
  height: 83vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  margin:auto !important;
}
.scroll::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}


.scroll::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: lightslategrey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.retirer_ami{
  background-color: #696969;
}
.rad{
  border-radius:20px;
  background-color: #474747;
  border:1px solid #474747;
}
.border_green{
  box-shadow: 5px 0 5px lightgray, 0 15px 15px -10px rgb(48, 173, 48);
}
.online{
  background-color: #2e9827;
  width:19px;
  border-radius: 50%;

}
textarea{
  width:55vw;
}

.blue{
  background-color: #665ac0;
}
.msg1{
  width:100%;
  border: solid lightgray 2px;
}
